html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #020617;
}

/* contenedor del juego */
#game {
  width: 100vw;
  height: 100vh;

  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 0 2px #1e293b;
}
